$color-white: #fff;
$color-black: #000;
$color-black-light: #e7e7e7;
$color-black-light-1: #888;

@font-face {
    font-family: "utm-viceroyJF";
    src: url("../../assets/font/UTM ViceroyJF.ttf");
}

@font-face {
  font-family: "utm-androgyne";
  src: url("../../assets/font/UTM Androgyne.ttf");
}

// @font-face {
//   font-family: "Lobster";
//   src: url("../../assets/font/UTM Roboto.ttf");
// }